
{% extends 'netbox_inventory/asset_edit.html' %}
{% load static %}
{% load form_helpers %}

{% block title %}Add multiple assets{% endblock %}

{% block tabs %}
  {% include 'netbox_inventory/inc/asset_edit_header.html' with active_tab='bulk_add' %}
{% endblock %}


{% block form %}
  {% render_field form.asset_tags %}
  {% render_field form.create_serial_from_asset %}
  {% render_field form.create_name_from_asset %}
  {% with model_form as form %}
    {{ block.super }}
  {% endwith %}
{% endblock %}
